<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" 
           path="*" 
           verb="*" 
           modules="HttpPlatformHandler" 
           resourceType="Unspecified" />
    </handlers>
    
    <httpPlatform processPath="C:\Python312\python.exe"
                  arguments="-m uvicorn main:app --host 0.0.0.0 --port 8000"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\python.log"
                  startupTimeLimit="120"
                  processesPerApplication="1">
      <environmentVariables>
       
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>